html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    position: absolute;
    top: 50px;
    left: 20px;
}

.notice {
    position: absolute;
    font-size: 1pt;
    top: 0px;
    /* left: 500px; */
}

h1 {
    /* drunken painter*/
    position: absolute;
    background-color: rgb(254, 255, 186);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    top: -20px;
    left: 160px;
}

h2 {
    /* background-color: aqua;
    width: fit-content;
    height: 60px;
    border-radius: 10px; */
    position: absolute;
    color: black;
    font-size: 12pt;
    /* left: 550px;*/
    top: 20px;
}

h3 {
    /* background-color: aqua;
    width: fit-content;
    height: 50px;
    border-radius: 10px; */
    position: absolute;
    color: black;
    font-size: 12pt;
    top: 80px;
}

h4 {
    /* background-color: aqua;
    width: fit-content;
    height: 50px;
    border-radius: 10px; */
    position: absolute;
    color: black;
    font-size: 12pt;
    left: 240px;
    top: 11px;
}

.guide {
    background-color: rgb(255, 132, 132);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    position: absolute;
    /* left: 720px; */
    top: 210px;
}

section {
    border-radius: 10px;
    position: absolute;
    background: rgb(254, 255, 186);
    width: 440px;
    height: 315px;
    padding: 30px 20px;
    left: 600px;
    top: 100px;
}